{% extends 'universidad_app/base.html' %}

{% block title %}Lista de Facultades{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="bg-success text-white p-3">Lista de Facultades</h1>
        <a href="{% url 'agregar_facultad' %}" class="btn btn-primary mb-3">Agregar Facultad</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-success">Nombre</th>
                    <th class="text-success">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for facultad in facultades %}
                    <tr>
                        <td>{{ facultad.nombre }}</td>
                        <td>
                            <a href="{% url 'eliminar_facultad' facultad.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

